// This file is for styles reused across multiple components
@import 'customize.scss';

.grey-section {
    background-color: $gray-100;
}

.btn-primary:disabled {
    background-color: $gray-900;
    border-color: $gray-900;
}