@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #000180;
$secondary: #33adad;
$gray-100: #ededed;
$gray-900: #494949;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$grays: (
  "100": $gray-100,
  "900": $gray-900
);



// Required
@import "../node_modules/bootstrap";

:export {
  primary: $primary;
  gray-100: $gray-100;
  gray-900: $gray-900;
}